<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade Aula</title>
</head>
<style type="text/css">
    body {background: black}
    h1 {text-align: center left}
    h1 {color: red}
    .center {text-align: center}
    label {color: white}
</style>
<body>
    <h1> Cadastro Aluno </h1>
    </br>
    <form action="/gravar" method="POST" name="teste">
        <label for="nome"> Nome: </label>
        <input type="text" name="nome"/></br>
        <label for="cpf"> CPF: </label>
        <input type="text" name="cpf"/></br>
        <label for="endereco"> Endereço: </label>
        <input type="text" name="endereco"/></br> //->
        <input type="submit" name="Enviar"/>
    </form>
</body>
</html>
